<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Allowed.count == 0 %>
    <div class="columns">
      <div class="column">
        <label class="label">Drop image url here</label>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= form.text_field :image_shot, autofocus: true, autocomplete: "username", class: 'input' %>
      </div>
    </div>
  <% else %>
    <div class="columns">
      <div class="column">
        <label class="label">Drop image here</label>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= form.file_field :image, autofocus: true, autocomplete: "username", class: 'input' %>
      </div>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <label class="label">Caption</label>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= form.text_area :caption, autofocus: true, autocomplete: "name", class: 'textarea' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Upload', class: 'button is-info' %>
  </div>
<% end %>
