<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <%= form.file_field :image, autofocus: true, autocomplete: "name", class: 'input'%>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= form.text_area :caption, autofocus: true, autocomplete: "name", class: 'textarea' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Upload', class: 'button is-info' %>
  </div>
<% end %>
