<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <% if Allowed.count == 0 && !user.avatar_shot.nil? && user.avatar_shot!="" %>
                <img src="<%= user.avatar_shot %>">
              <% elsif Allowed.count!=0 && user.avatar.attached? %>
                <%= image_tag user.avatar %>
              <% else %>
                <img src="https://bulma.io/images/placeholders/48x48.png">
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">
              <%= link_to profile_path(user.username) do %>
                <%= user.name %>
              <% end %>
            </p>
            <p class="subtitle is-6">@<%= user.username %></p>
          </div>
        </div>
      </div>
      <div class="card-image">
        <figure class="container-img">
          <% if !post.image_shot.nil? && post.image_shot!="" %>
            <img src="<%= post.image_shot %>" alt="">
          <% else %>
            <%= image_tag post.image %>
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <div class="level-left likes data">
          <% if user_signed_in? %>
            <% if current_user.liked? post %>
              <%= link_to unlike_post_path(post), method: :put, class: "unlike_post" do %>
                <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                <span class="vote_count"><%= pluralize(post.get_likes.size, 'Like') %></span>
              <% end %>
            <% else %>
              <%= link_to like_post_path(post), method: :put, class: "like_post" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= pluralize(post.get_likes.size, 'Like') %></span>
              <% end %>
            <% end %>
          <% else %>
              <%= link_to like_post_path(post), method: :put, class: "like_post" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= pluralize(post.get_likes.size, 'Like') %></span>
              <% end %>
          <% end %>
        </div>
        <strong>
          <%= link_to profile_path(user.username) do %>
            <%= user.username %>
          <% end %>
        </strong>&nbsp;
        <%= post.caption %><br>
        <hr>
        <p><small><%= time_ago_in_words(post.created_at).upcase %> AGO</small></p>
      </div>
    </div>
  </div>
</div>
